* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

section {
    position: relative;
    height: 1000px;
    width: 1500px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.container {
    width: 1158px;
    height: 367px;
    margin: 40px 0;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 280px;
    left: 150px;
}

.content {
    padding: 19px 55px 50px 64px;
}

.bold {
    font-weight: 700;
}

.normal {
    font-weight: 400;
}

.headers {
    font-size: 1.3rem;
    line-height: 4.65rem;
    margin-bottom: 8px;
    color: rgba(253, 116, 155, 1);
    text-transform: uppercase;
}

.ml9per {
    margin-left: 9%;
}

.d-flex {
    display: flex;
}

.just-cont-between {
    justify-content: space-between;
}

.just-cont-center {
    justify-content: center;
}

.al-items-center {
    align-items: center;
}

.al-self-end {
    justify-self: flex-end;
}

.h-200 {
    height: 200px;
}

.text-wrap {
    width: 100%;
    line-height: 1.5rem;
}

.text-wrap img {
    margin-right: 16px;
}

.text-wrap .wrap .ml-10 {
    margin: 0 10px 0 10px;
}

.flex-dir-column {
    flex-direction: column;
}

.text-al-right {
    text-align: right;
}

.text-al-center {
    text-align: center;
}

.mt-74 {
    margin-top: 74px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-27 {
    padding-bottom: 27px;
}

.pb-34 {
    padding-bottom: 34px;
}

.pb-37 {
    padding-bottom: 37px;
}

.mt-37 {
    margin-top: 37px;
}

.w-240 {
    width: 240px;

}

.line {
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 18px;
}

.btn-wrap {
    justify-content: center;
}

.button {
    font-size: 0.6rem;
    color: #ffffff;
    cursor: pointer;
    width: 66px;
    height: 25px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 5px;
    border: 0;
}

.wave_top {
    position: absolute;
    top: -30px;
    height: 300px;
    width: 1800px;
}

.wave_bottom {
    position: absolute;
    bottom: -30px;
    height: 300px;
    width: 1800px;
}

